@import url('https://fonts.googleapis.com/css2?family=Poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}
body{
    display:inline;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #dde7ee;
    background-size: cover;
    background-position: center;
    scroll-behavior: smooth;
    width: 100%;
    padding: 20px 100px;
    
}

header{
    position: fixed;
    color: #162938;
    background: #162938;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 2em;
    color: rgb(135, 249, 245);
    user-select: none;
    cursor: pointer;

}
.navigation a{
position: relative;
font-size: 1.1em;
color: rgb(255, 255, 255);
text-decoration: none;
font-weight: 500;
margin-left: 40px;
}
.navigation a::after{
    content:'';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #9af8e4;
    transform-origin: right;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .3s;
    
}

.navigation a:hover::after{
    transform-origin:left ;
    transform: scaleX(1);

}

.navigation .btnlogin-popup{
    width: 130px;
    height: 50px;
    background:#162938;
    border: 2px solid #b8f3d7;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1em;
    color: #523333;
    font-weight: 500;
    margin-left: 70px;
    transition: .3s;
    
}


.navigation .btnbook-popup:hover{
    background: #ffeeee;
    color: rgb(0, 0, 0);

}
.heading-text{
   font-size: 5em;
   font-weight: 500;
    text-align: center;
    margin:0% auto;
   justify-content: center; 
    display: flex;
    position: relative;
    width: 100%;
    padding: 30px;
   top: 20px;
   color: rgb(0, 0, 0);
   
}

.center-text {
    
    text-align: justify;
    margin: 0 auto;
    position:relative;
    max-width: 600px;
    padding: 10px;
    display: flex;
    align-items: center;
     width: 40%;
    height: 30%;
    
  }
  
.bold-text{
    justify-content: center;
    font-size: 1.7em;
    display: flex;
    
}

.lead-text-muted{
    background-color: #be6565;
    font-size: 1.4em;
    border-radius: 8.5px;
    text-align: justify;
    padding: 12px;
    position: relative;
    display: flex;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 20px;
    padding: 20px;
  }

  .thumbnail {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 5px rgba(49, 45, 45, 0.973);
    background-color:#162938;
    border-radius: 13px;
    height: auto;
  }

  .thumbnail img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius:12px;
    
    
  }

  .thumbnail h3 {
    margin: 0;
    color: #fdfdfd;
    text-decoration-style: solid;
    font-size: 16px;
    font-weight: normal;
    font-weight: 800;

  }

  .thumbnail p {
    margin: 0;
    font-size: 14px;
    color: #fdfdfd;
    margin-bottom: 10px;
  }

  .thumbnail button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 7px;
    box-shadow: #0000;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .thumbnail button:hover {
    background-color: #3E8E41;
  }




  footer {
    font-size: 14px;
    position: relative;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #162938;
    
  }
  
  .widget-info {
    width: 100;
    
  }
  
  .footer-image {
    
    display: inline-block;
    
  }
  
  .footer-text {
    margin-bottom: 20px;
    line-height: 1.5em;
    
  }
  
  .footer-heads {
    font-weight: bold;
    margin-bottom: 10px;
    
  }
  
  .social-links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
  
  .social-links li {
    margin-right: 10px;
    
  }
  
  .social-links a {
    display: flex;
    align-items: center;
    color: #0c0c0c;
    text-decoration: none;
    
  }
  
  .social-links a:hover {
    color: #007bff;
    
  }
  
  .social-links ion-icon {
    margin-right: 5px;
    font-size: 20px;
    
  }
  
  .widget-cars {
    width: 100%;
    
  }
  
  .cars-widget {
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
  
  .cars-widget li {
    margin-bottom: 10px;
    
  }
  
  .cars-widget a {
    color: #110e0e;
    text-decoration: none;
    
  }
  
  .cars-widget a:hover {
    color: #007bff;
    text-decoration: underline;
    
  }

  .reserve {
    text-align: center;
    font-size: 1.5rem;
    padding: 50px 0;
  }
  
  .jumbotron {
    background-color: #f8f9fa;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
  }
  

  
  
    