@import url('https://fonts.googleapis.com/css2?family=Poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}
body{
    display:inline;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #dde7ee;
    background-size: cover;
    background-position: center;
    scroll-behavior: smooth;
    width: 100%;
    padding: 20px 100px;
    
}

header{
    position: fixed;
    color: #162938;
    background: #162938;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 2em;
    color: rgb(135, 249, 245);
    user-select: none;
    cursor: pointer;

}
.navigation a{
position: relative;
font-size: 1.1em;
color: rgb(255, 255, 255);
text-decoration: none;
font-weight: 500;
margin-left: 40px;
}
.navigation a::after{
    content:'';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #9af8e4;
    transform-origin: right;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .3s;
    
}

.navigation a:hover::after{
    transform-origin:left ;
    transform: scaleX(1);

}

.navigation .profile-btn{
    width: 130px;
    height: 50px;
    background:#162938;
    
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1em;
    color: #68da7b;
    font-weight: 500;
    margin-left: 70px;
    transition: .3s;
    
}

.profile-btn {
  
  background-color: #162938;
  color: white; /* White text */
  padding: 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  border: none; /* Remove borders */
  cursor: pointer; /* Change cursor to a pointer */
}

/* Dropdown button on hover & focus */
.profile-btn:hover, .profile-btn:focus {
  width: 130px;
  height: 50px;
  background:#162938;
  outline: none;
  border-radius: 80px;
  cursor: pointer;
  font-size: 1.1em;
  color: #ffffff;
  font-weight: 500;

  
}

/* The dropdown container */
.profile-dropdown {
  background-color: #162938;
color: #110e0e;
  position: relative;
  display: inline-block;
}

/* Dropdown content (hidden by default) */
.profile-dropdown-content {
  display: none;
  position: absolute;
  
}

/* Links inside the dropdown */
.profile-dropdown-content a {
  color: black;
  background-color: #162938;
  
  padding: 12px 16px;
  text-decoration: none;
  display:flex;
}

/* Change color of dropdown links on hover */
.profile-dropdown-content a:hover {
  background-color: #6795b8;
  
}

/* Show the dropdown menu on hover */
.profile-dropdown:hover .profile-dropdown-content {
  display: block;
}





  footer {
    font-size: 14px;
    position: relative;
    left: 0;
    
    bottom: 0;
    height: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #162938;
    
  }
  
  .widget-info {
    width: 100;
    
  }
  
  .footer-image {
    
    display: inline-block;
    
  }
  
  .footer-text {
    margin-bottom: 20px;
    line-height: 1.5em;
    
  }
  
  .footer-heads {
    font-weight: bold;
    margin-bottom: 10px;
    
  }
  
  .social-links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
  
  .social-links li {
    margin-right: 10px;
    
  }
  
  .social-links a {
    display: flex;
    align-items: center;
    color: #0c0c0c;
    text-decoration: none;
    
  }
  
  .social-links a:hover {
    color: #007bff;
    
  }
  
  .social-links ion-icon {
    margin-right: 5px;
    font-size: 20px;
    
  }
  
  .widget-cars {
    width: 100%;
    
  }
  
  .cars-widget {
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
  
  .cars-widget li {
    margin-bottom: 10px;
    
  }
  
  .cars-widget a {
    color: #110e0e;
    text-decoration: none;
    
  }
  
  .cars-widget a:hover {
    color: #007bff;
    text-decoration: underline;
    
  }

  



  .container {
    width: 90%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    list-style: none;
    
  }
  .top-service{
        font-size: larger;
  }
  
  .services {
    text-align: center;
  }
    